.card {
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: aqua;
  border-radius: 4px;
  display: block;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
